- content_for(:html_title, 'Shop Info')
.container.pt-3
  .row
    .col-md-10.offset-md-1
      h1.float-left.mb-5 ショップ情報
      table.table.mb-3
        tr
          th scope='row' ショップ名
          td= @shop.name
        tr
          th scope='row' 住所
          td= @shop.address
  .row
    .col-md-10.offset-md-1
      #map.mb-3 style='width: 600px; height: 300px;'
  .row
    .col-md-10.offset-md-1
      h2.float-left.mb-3 イベントスケジュール
      #CalendarShop.float-left.mb-3

      javascript:

        //カレンダー表示
        $('#CalendarShop').fullCalendar({
            events: "/shops/#{params[:id]}/events.json",
            timeFormat: 'H:mm',
            eventColor: '#63ceef',
            lang: 'ja',
            eventClick: function(calEvent, jsEvent, view) {
              //イベント編集のためeditアクションを発火
              $.ajax({
                type: 'GET',
                url: '/events/' + calEvent.id
              }).done(function (res) {
                //イベント編集用のhtmlを作成
                $('.modal-body').html(res);
                $('#modal').modal();
              }).fail(function (result) {
                // 失敗処理
                alert('エラーが発生しました。運営に問い合わせてください。')
              });
            },
            eventRender: function(event, $element) {
              console.log("aaaa")
                var titleStr = $element.find('span.fc-title').text(), // htmlタグを含むtitleの文字列を取得
                // console.log(titleStr)
                $eventElem = $element.find('span.fc-title');

                $eventElem.html(titleStr); // htmlとして出力
            }
        })

        //グーグルマップ表示
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(#{raw @hash.to_json});
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(16);
        });
